@media (max-width: 1439px) {
    .sidepanel {
        display: none;
        
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }

        }
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            column-gap: 80px;
            padding: 40px 20px 0 20px;
        }
    }
    .skills {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(4,230px);

        }
        &__progress {
            margin-top: 80px;
            grid-template-columns: repeat(3,280px);
            &-item {
                grid-template-columns: 245px 35px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 15px 0 15px;
            grid-template-columns: 360px 570px;
            column-gap: 10px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 300px 380px;

        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 70px;
        &__wrapper {
            column-gap: 50px;
            //padding: 40px 20px 0 20px;
            grid-template-columns: repeat(2,auto);
        }
    }
    .skills {
        padding-top: 70px;
        &__wrapper {
            margin-top: 45px;
            grid-template-columns: repeat(2,auto);
            column-gap: 20px;
        }
        &__progress {
            margin: 0 20px;
            margin-top: 70px;
            grid-template-columns: repeat(2,auto);
            
        }
    }
    .price {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 350px);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__form {
            grid-template-columns: 280px;
            grid-template-rows: 45px 45px 190px 45px;
            grid-template-columns: auto;
        }
        &__textarea {
            grid-column: unset;
        }
        &__triggers {
            column-gap: 35px;
            grid-column: unset;
        }
        &__btn {
            padding: 5px 15px;
        }
    }

}



@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
        grid-template-rows: 400px auto auto ;
        grid-template-columns: 1fr;
    
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2,260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }  
    }
    .skills {
        &__progress {
            &-item {
                grid-template-columns: 180px 35px;
            }
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .price {
        padding-top: 40px;
        margin-top: 0;
        &__wrapper {
            margin-top: 20px;
            justify-content: center;
        }
    }
    .contacts {
        padding: 70px 0 50px 0;
        &__wrapper {
            grid-template-columns: repeat(auto-fit,295px);
            justify-content: center;
        }
        &__photo {
            display: none;
        }
    }
}



@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
        &__section-subtitle {
            font-size: 26px;
            line-height: 36px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {

        &__wrapper {
            grid-template: 340px auto auto / 1fr;;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(1,auto);
            padding: 40px 12px 0 8px;
            row-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: repeat(1,auto);
            row-gap: 20px;
        }
        &__progress {
            margin: 0 10px;
            margin-top: 40px;
            grid-template-columns: repeat(1,auto);

        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,295px);
        }
    }
    .contacts {
        padding: 45px 0 45px 0;
        &__triggers {
            grid-template-columns: 300px;
            row-gap: 20px;
        }
        &__btn {
            grid-row: 2 / 3;
            width: 220px;
            margin: 0 auto;
        }
        &__policy {
            grid-row: 1 / 2;
            width: 180px;
            margin: 0 auto;
            text-align: center;
        }
    }

}




